{# Language switcher pill button - moved into .main-menu by JS in body-end.njk #}
<div id="lang-switcher-source" style="display:none">
  <li class="menu-item menu-item-lang">
    <a role="button" class="nav-lang" id="lang-switcher" href="#">
      {% if page.lang == 'en' %}中{% else %}EN{% endif %}
    </a>
  </li>
</div>
